* {
    background: #EAEAEA;
}

#hello-message{
    color: cornflowerblue;
}

img{
    max-width: 40%;
    height: auto;
    float: right;
}

.spacing{
    margin-top: 20px;
    margin-bottom: 20px;
}
